<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangxuele.ocs.mapper.mapper.TSmsMapper">
  <resultMap id="BaseResultMap" type="com.fangxuele.ocs.mapper.domain.TSms">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="send_time" jdbcType="TIMESTAMP" property="sendTime" />
    <result column="send_phone" jdbcType="VARCHAR" property="sendPhone" />
    <result column="sms_content" jdbcType="VARCHAR" property="smsContent" />
    <result column="sms_type" jdbcType="INTEGER" property="smsType" />
    <result column="send_success" jdbcType="INTEGER" property="sendSuccess" />
    <result column="send_response" jdbcType="VARCHAR" property="sendResponse" />
  </resultMap>
  <sql id="Base_Column_List">
    id, send_time, send_phone, sms_content, sms_type, send_success, send_response
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_sms
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from t_sms
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.fangxuele.ocs.mapper.domain.TSms">
    insert into t_sms (id, send_time, send_phone, 
      sms_content, sms_type, send_success, 
      send_response)
    values (#{id,jdbcType=BIGINT}, #{sendTime,jdbcType=TIMESTAMP}, #{sendPhone,jdbcType=VARCHAR}, 
      #{smsContent,jdbcType=VARCHAR}, #{smsType,jdbcType=INTEGER}, #{sendSuccess,jdbcType=INTEGER}, 
      #{sendResponse,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.fangxuele.ocs.mapper.domain.TSms">
    insert into t_sms
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="sendTime != null">
        send_time,
      </if>
      <if test="sendPhone != null">
        send_phone,
      </if>
      <if test="smsContent != null">
        sms_content,
      </if>
      <if test="smsType != null">
        sms_type,
      </if>
      <if test="sendSuccess != null">
        send_success,
      </if>
      <if test="sendResponse != null">
        send_response,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="sendTime != null">
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendPhone != null">
        #{sendPhone,jdbcType=VARCHAR},
      </if>
      <if test="smsContent != null">
        #{smsContent,jdbcType=VARCHAR},
      </if>
      <if test="smsType != null">
        #{smsType,jdbcType=INTEGER},
      </if>
      <if test="sendSuccess != null">
        #{sendSuccess,jdbcType=INTEGER},
      </if>
      <if test="sendResponse != null">
        #{sendResponse,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.fangxuele.ocs.mapper.domain.TSms">
    update t_sms
    <set>
      <if test="sendTime != null">
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="sendPhone != null">
        send_phone = #{sendPhone,jdbcType=VARCHAR},
      </if>
      <if test="smsContent != null">
        sms_content = #{smsContent,jdbcType=VARCHAR},
      </if>
      <if test="smsType != null">
        sms_type = #{smsType,jdbcType=INTEGER},
      </if>
      <if test="sendSuccess != null">
        send_success = #{sendSuccess,jdbcType=INTEGER},
      </if>
      <if test="sendResponse != null">
        send_response = #{sendResponse,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.fangxuele.ocs.mapper.domain.TSms">
    update t_sms
    set send_time = #{sendTime,jdbcType=TIMESTAMP},
      send_phone = #{sendPhone,jdbcType=VARCHAR},
      sms_content = #{smsContent,jdbcType=VARCHAR},
      sms_type = #{smsType,jdbcType=INTEGER},
      send_success = #{sendSuccess,jdbcType=INTEGER},
      send_response = #{sendResponse,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>