<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

    <title>修改密码 | LOMS</title>
    <div th:replace="layout :: htmlhead"></div>

</head>

<body th:class="@{${session.theme}}">
<div id="wrapper">
    <div th:replace="fragments/left :: left">left</div>

    <div id="page-wrapper" class="gray-bg">
        <div th:replace="fragments/navbar_header :: navbar_header">navbar_header</div>

        <!--面包屑开始-->
        <div class="row wrapper border-bottom white-bg page-heading animated fadeInDown">
            <div class="col-lg-10">
                <h2>修改密码</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="index.html" th:href="@{/index}">主页</a>
                    </li>
                    <li>
                        <a>用户</a>
                    </li>
                    <li class="active">
                        <strong>修改密码</strong>
                    </li>
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <!--面包屑结束-->

        <div class="wrapper wrapper-content animated fadeInUp">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-content">
                            <div class="row">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <form role="form" id="editPasswordForm">
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="beforePassword"
                                                   placeholder="原密码"
                                                   required="">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="password"
                                                   placeholder="新密码"
                                                   required="">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control" name="passwordConfirm"
                                                   placeholder="确认新密码"
                                                   required="">
                                        </div>
                                        <button type="submit" id="submitButton"
                                                class="btn btn-primary block full-width m-b">确认修改
                                        </button>
                                    </form>
                                </div>
                                <div class="col-md-4"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--footer开始-->
        <div th:replace="fragments/footer :: footer">footer</div>
        <!--footer结束-->
    </div>
</div>

<div th:replace="fragments/main_js :: main_js">main_js</div>

<script>

    $(document).ready(function () {
        $('#submitButton').click(function (event) {
            if (!event.isDefaultPrevented()) {
                event.preventDefault();
            }
            var form = $("#editPasswordForm");
            form.validate().settings.ignore = ":disabled,:hidden";
            if (form.valid()) {
                $.post("modify", form.serialize(), function (data) {
                    if (data.success) {
                        swal({
                            title: data.msg,
                            text: "请牢记！",
                            type: "success"
                        }, function () {
                        });
                    } else {
                        toastr.error(data.msg);
                    }
                }, "json");
            }
        });
    });

</script>
</body>
</html>