<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="row border-bottom" th:fragment="navbar_header">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i>
            </a>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message"><strong class="font-bold" shiro:principal
                                                                        property="name"></strong>和孩子一起，更好地看世界</span>
            </li>
            <li>
                <a href="index.html" th:href="@{/index}">
                    <i class="fa fa-home"></i>主页</a>
            </li>
        </ul>
    </nav>
</div>
</body>
</html>