<!DOCTYPE html>
<html>
<script type="text/javascript" src="chrome-extension://kajfghlhfkcocafkcjlajldicbikpgnp/catcher.js"></script>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"></meta>
<title>登录页面</title>
<link href="../css/style.css" rel="stylesheet" type="text/css" media="all"></link>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"></meta>
<meta name="keywords" content="后台登录"></meta>
</head>
<body>
<!--header start here-->
<div class="login-form">
			<div class="top-login">
				<span><img src="../images/group.png" alt=""/></span>
			</div>
			<h1>登录</h1>
			<div class="login-top">
			<form>
				<div class="login-ic">
					<i></i>
					<input type="text" value="用户" onfocus="this.value = &#39;&#39;;" onblur="if (this.value == &#39;&#39;) {this.value = &#39;User name&#39;;}"/>
					<div class="clear"> </div>
				</div>
				<div class="login-ic">
					<i class="icon"></i>
					<input type="password" value="密码" onfocus="this.value = &#39;&#39;;" onblur="if (this.value == &#39;&#39;) {this.value = &#39;password&#39;;}"/>
					<div class="clear"> </div>
				</div>
			
				<div class="log-bwn">
					<input type="submit" value="Login"/>
				</div>
				</form>
			</div>
			<p class="copy">© 2018 解杨阳专用</p>
</div>		
<!--header start here-->

</body>
</html>