<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>展示页面</title>
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"></script>
<script src="https://cdn.bootcss.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	<table class="table table-hover table-bordered">
		<thead>
			<tr>
				<td>id</td>
				<td>账户</td>
				<td>密码</td>
				<td>姓名</td>
				<td>状态</td>
			</tr>
		</thead>
		<tbody>
			<tr th:each = "user : ${users}">
				<td th:text = "${user.id}"></td>
				<td th:text = "${user.username}"></td>
				<td th:text = "${user.password}"></td>
				<td th:text = "${user.name}"></td>
				<td th:text = "${user.status}?激活:失效"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>